[submodule "z/rupa-z"]
	path = z/rupa-z
	url = https://github.com/rupa/z.git
[submodule "vim/vim.symlink/bundle/Vundle.vim"]
	path = vim/vim.symlink/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
